extends base

block content
	.main
		.card
			.title Klasskassa 5A
			img.money-img(src="img/money.png")
			.progress-container
				.progress 
					.progress-percent #{Math.round((balance/goal) * 100)}%
			.amount
				.balance.amount-detail 
					span.under-title Insamlat:
					span #{balance}kr
				.goal.amount-detail  
					span.under-title Mål:
					span #{goal}kr
			.details Senast uppdaterad 2023-05-12 08:12