extends base

block content
	.main
		.card
			.title Klasskassa 5A
			.amount
				img(src="img/money.png")
				span 1000kr/35000kr
			.progress-container
				.progress 20%
			.details Senast uppdaterad 2023-05-12 08:12