extends base

block content
	.main
		.card
			.title Klasskassa 5A
			img.money-img(src="img/money.png")
			.progress-container
				.progress 
					.progress-percent #{Math.round((process.env.balance/process.env.goal) * 100)}%
			.amount
				.balance.amount-detail 
					span.under-title Insamlat:
					span #{process.env.balance}kr
				.goal.amount-detail  
					span.under-title Mål:
					span #{process.env.goal}kr
			.details Senast uppdaterad 
				span #{process.env.lastUpdate}